lib/
Debug/
Release/
source/__history/
source/backup/
source/contrib/
packages/kcontrols/*.cpp
packages/kcontrols/*.hpp
packages/kcontrols/*.res
packages/kcontrols/kcontrolsbase.pas 
packages/kcontrols/kcontrolslaz.pas 
packages/kcontrols_copies/
demos/**/*.ico
demos/**/*.rtf
demos/**/*.ini
demos/**/*.rc
demos/**/*.ico
demos/**/*.png
demos/**/*.jpg
demos/**/*.bmp
demos/kdbgrid/kdbgriddemo*.res
demos/kgrid/kgriddemo*.res
demos/khexeditor/hexeditor*.res
demos/khexeditor/*.hex
demos/kicon/demo*.res
demos/kmemo/kmemodemo*.res
demos/kmemoeditor/kmemoeditor*.res
help/**/*.css
help/**/*.chm
help/**/*.chw
help/**/*.gif
help/**/*.hhc
help/**/*.hhk
help/**/*.hhp
help/**/*.htm
help/**/*.log
resource_src/*.jpg
tools/**/*.ico

*.~*
*.*~
*.aps
*.cfg
*.compiled
*.db
*.dsk
*.dcu
*.ddp
*.dll
*.docx
*.dof
*.dylib
*.drc
*.identcache
*.ipch
*.local
*.lrs
*.lps
*.map
*.o
*.obj
*.or
*.pdf
*.ppu
*.psd
*.so
*.suo
*.stat
*.zip


