tkgrid BITMAP "tkgrid.bmp"
tkdbgrid BITMAP "tkdbgrid.bmp"
tkhexeditor BITMAP "tkhexeditor.bmp"
tknumberedit BITMAP "tknumberedit.bmp"
tkfilenameedit BITMAP "tkfilenameedit.bmp"
tklog BITMAP "tklog.bmp"
tkprintpreview BITMAP "tkprintpreview.bmp"
tkprintpreviewdialog BITMAP "tkprintpreviewdialog.bmp"
tkprintsetupdialog BITMAP "tkprintsetupdialog.bmp"
tkbrowsefolderdialog BITMAP "tkbrowsefolderdialog.bmp"
tklinklabel BITMAP "tklinklabel.bmp"
tkgradientlabel BITMAP "tkgradientlabel.bmp"
tkpercentprogressbar BITMAP "tkpercentprogressbar.bmp"

