kgrid_hci_hbegin RCDATA "./alphabitmaps/kgrid_hci_hbegin.bmp"
kgrid_hci_hcenter RCDATA "./alphabitmaps/kgrid_hci_hcenter.bmp"
kgrid_hci_hend RCDATA "./alphabitmaps/kgrid_hci_hend.bmp"
kgrid_hci_vbegin RCDATA "./alphabitmaps/kgrid_hci_vbegin.bmp"
kgrid_hci_vcenter RCDATA "./alphabitmaps/kgrid_hci_vcenter.bmp"
kgrid_hci_vend RCDATA "./alphabitmaps/kgrid_hci_vend.bmp"
kgrid_drag_arrow RCDATA "./alphabitmaps/kgrid_drag_arrow.bmp"
kgrid_sort_arrow RCDATA "./alphabitmaps/kgrid_sort_arrow.bmp"
kgrid_cursor_hresize CURSOR "kgrid_cursor_hresize.cur"
kgrid_cursor_vresize CURSOR "kgrid_cursor_vresize.cur"